mixin input(params)
  if params != undefined || params != null
    - var {type = 'text', placeholder, value='', kind='', name='', checked=false} = params
    if type == 'date' 
      - placeholder = placeholder || 'DD.MM.YYYY'
      - type = 'text'
    if type == 'password' 
      - placeholder = placeholder || 'Password'
    if type == 'mail' 
      - placeholder = placeholder || 'Email'
    - var cls = `input input_${type}`  
    if type == 'text' || type == 'mail' || type == 'password'
      input(type = type, placeholder = placeholder, class=cls)&attributes(attributes) 
    else if type == 'checkbox'
      label(class=`${cls}__label`)
        input(type=type, class=cls)&attributes(attributes)
        .input_checkbox__border
        span(class = `${cls}__span`) #{value}
    else if type == 'radio'
      label(class=`${cls}__label`)
        input(type=type, class=cls, name=name, checked=checked)&attributes(attributes)
        .input_radio__border
        span(class = `${cls}__span`) #{value}
    else if type == 'dropdown'
      if kind != undefined
        - cls = `$input input_${type} input_${type}-${kind}`  
      input(type='text', placeholder=placeholder, class=cls)&attributes(attributes)
      i.material-icons.arrow-down keyboard_arrow_down