mixin btn(params)
  if params != undefined && params != null
    - var {type = 'button', style='', value, size='md', enabled=true, kind, onclick} = params
  - var cls = `btn btn_${kind}`
  if size != undefined
    - cls += ` btn_${size}`
  if style != undefined
    - cls += `  btn_${style}`
  - enabled = enabled ? 'enabled' : 'disabled' 
  - cls += `  btn_${enabled}`
    button(class = cls, type=type, onclick = onclick) #{value}
      if style =='arrow'
        i.material-icons.material-icons_arrow-forward arrow_forward